<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="it.github.usedcars" level="${LOG_LEVEL:-INFO}" />
    <logger name="dev.langchain4j" level="WARN" />

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>